<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts Characters</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Hogwarts Characters</h1>
  
  <ul>
    <% characters.forEach(c => { %>
      <li><%= c.name %> - <%= c.house %></li>
    <% }) %>
  </ul>

  <h2>Add a Character</h2>
  <form action="/characters" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="house" placeholder="House" required>
    <button type="submit">Add Character</button>
  </form>

  <a href="/">Back to Home</a>
</body>
</html>