<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/style.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Garamond:wght@300;400;600&display=swap"
    rel="stylesheet">
</head>

<body>
  <h1>
    <%= title %>
  </h1>

  <nav>
    <a href="/characters/view">Characters</a> |
    <a href="/houses/view">Houses</a> |
    <a href="/spells/view">Spells</a>
  </nav>


</body>

</html>