<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <nav>
    <a href="/characters/view">Characters</a> |
    <a href="/houses/view">Houses</a> |
    <a href="/spells/view">Spells</a>
  </nav>
</body>
</html>
